@font-face {
  font-family: 'Super Mario 256';
  src: url('SuperMario256.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Super Mario 256', Arial, sans-serif; /* Assuming you've defined the custom font earlier */
  font-size: 1.5em; /* Adjust font size as needed */
  text-align: center;
}

#index-body{
  background-color: #ECECEC;
}

.small-image {
  width: 200px; /* Adjust the width to make the image smaller */
  height: auto; /* Maintain aspect ratio */
}

.social-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
}

.social-link:hover {
  text-decoration: none; /* Remove underline on hover */
  color: inherit; /* Inherit text color on hover */
}

.social-YT{
  width: 200px; /* Adjust the width to make the image smaller */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: -25px;
}

.social-YT:hover{
  cursor: pointer;
}

.social-Twitch{
  width: 150px; /* Adjust the width to make the image smaller */
  height: auto; /* Maintain aspect ratio */
}

.social-Twitch:hover{
  cursor: pointer;
}

.index-text {
  color: red; /* Inner color */
  text-shadow:
    -1px -1px 0 white,  
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white; /* Outline effect */
}

#partner-label {
  color: red; /* Inner color */
  text-shadow:
    -1px -1px 0 white,  
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white; /* Outline effect */
}

#partner-text-container {
  display: flex;
  align-items: center; /* Center items vertically */
}

#random-partner {
  margin-left: 10px;
  text-shadow:
  -1px -1px 0 white,  
   1px -1px 0 white,
  -1px  1px 0 white,
   1px  1px 0 white; /* Outline effect */
}

.kofi-button {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  text-align: center;
}